We identified {{ source_technique_id }} ({{ source_technique_name }}). Check for {{ target_technique_id }} ({{ target_technique_name }}) which is {{ relationship }}. What evidence would indicate this technique?
