# SOC Investigation Report

**Investigation ID:** `{{ investigation_id }}`
**Generated:** {{ generated_timestamp }}
**Duration:** {{ duration }}

## Alert Information

| Field | Value |
|-------|-------|
| Alert Name | {{ alert_name }} |
| Severity | {{ severity }} |
| Instance | {{ instance }} |
| Job | {{ job }} |
| Status | {{ status }} |

<details>
<summary>Full Alert Payload</summary>

```json
{{ alert_json }}
```

</details>
