## Pyramid of Pain Assessment

**Elevation Score:** {{ elevation_score }} (higher is better)

{{ pyramid_viz }}

### Assessment

{{ assessment_text }}

### Distribution

| Level | Name | Count | Adversary Pain |
|-------|------|-------|----------------|
| 6 | TTPs | {{ ttps_count }} | Tough! |
| 5 | Tools | {{ tools_count }} | Challenging |
| 4 | Artifacts | {{ artifacts_count }} | Annoying |
| 3 | Domains | {{ domains_count }} | Simple |
| 2 | IPs | {{ ips_count }} | Easy |
| 1 | Hashes | {{ hashes_count }} | Trivial |
