## Scope Assessment

{% if has_scope %}
### Hosts Investigated

{% if hosts %}
{% for host in hosts %}
- `{{ host }}`
{% endfor %}
{% else %}
_None_
{% endif %}

### Users Investigated

{% if users %}
{% for user in users %}
- `{{ user }}`
{% endfor %}
{% else %}
_None_
{% endif %}

### Scope Summary

- **{{ hosts_count }}** hosts investigated
- **{{ users_count }}** users investigated
{% else %}
_No lateral investigation performed._
{% endif %}
