Crack this hash for user {{ username }}@{{ domain }}:
Hash: {{ hash_value }}
Type: {{ hash_type }}
Wordlist: {{ wordlist }}
Task ID: {{ task_id }}

Use hashcat or john to crack this hash. Report the result using task_complete.
